@import "../../constants/Mixin";
@import "../../constants/Variables";


.normalContactInput {
  width: 60%;
  margin: 5px auto;
  padding: 0 10px;
  outline: none;
  border: $Border;
  height: 70px;
  border-radius: $BorderRadius;
  transition: 0.25s linear;


  &:focus {
    box-shadow: $BoxShadow;
  }

  @media only screen and (max-width: 992px) {
    height: 40px;
  }
}


::placeholder {
  color: $PlaceholderColor;
  font-size: 1.1rem;
  opacity: .6;
  @media only screen and (max-width: 992px) {
    font-size: .6rem;
  }
}
