@import "../constants/Mixin";
@import "../constants/Variables";

.aboutMe {
  width: 90%;
  margin: auto;
  z-index: 1;
  position: relative;
  overflow: hidden;
  padding-top: 85px;

  .contentَAboutMe {
    width: 95%;
    margin: auto;
    @include Display(row, space-between, flex-start);
    padding: 50px 50px 50px 0;

    .textAboutMe {
      width: 65%;
    }

    .imgFrame {
      margin-top: 45px;
      width: 200px;
      height: 200px;
      position: relative;
      box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.75);
      background-image: url("../../public/MyPic.JPG");
      background-position: center; /* Center the image */
      background-size: cover; /* Resize the background image to cover the entire container */

    }

    .imgFrame:after, .imgFrame:before {
      mix-blend-mode: multiply;
      filter: none;
      z-index: -1;
      content: '';
      width: calc(100% + (50px * 2));
      height: calc(100% + (50px * 2));
      position: absolute;
      left: 0;
      display: block;
      animation: border 10s ease-in-out infinite;
      transform: translateX(-50px) translateY(-50px);
    }

    @keyframes border {
      0%, 100% {
        -webkit-clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
        clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
      }
      50% {
        -webkit-clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
        clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
      }
    }

    .imgFrame:after {
      animation-delay: -5s;
      background-color: #69ADB0;
      clip-path: polygon(0 0, calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 100%, calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px)));
    }

    .imgFrame:before {
      background-color: #233f41;
      clip-path: polygon(calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)), 100% 0, calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)), 0 100%);
    }
  }


}

@media only screen and (max-width: 1200px) {
  .aboutMe {
    .textAboutMe {
      width: 55% !important;
    }

    .imgFrame {
      width: 170px !important;
      height: 170px !important;
      align-self: center;
      margin: 0 !important;

    }
  }
}

@media only screen and (max-width: 735px) {
  .aboutMe {
    text-align: center;

    .contentَAboutMe {
      @include Display(column-reverse, space-between, center);
      width: 90%;
      padding: 10px 0 !important;
      margin: auto !important;

      .textAboutMe {
        width: 100% !important;
        margin-top: 3rem;
      }
    }

    .imgFrame {
      width: 100px !important;
      height: 100px !important;
      box-shadow: none !important;
      border-radius: 5px;
      margin: 2rem auto!important;
    }

  }
}

@media only screen and (max-width: 360px) {
  .contentَAboutMe {
    width: 100% !important;
    padding: 0 !important;
  }
  .textAboutMe {
    border: $Border;
    border-radius: $BorderRadius;
    box-shadow: $BoxShadow;
    padding: 10px 10px;
  }


}
