@import "../constants/Mixin";
@import "../constants/Variables";


.loading {
  @include Display(row, center, center);
  overflow: hidden;
  height: 100vh;
  img {
    object-fit: cover;
    width: 50%;
  }
}
