@import "../../constants/Mixin";
@import "../../constants/Variables";

.experience {
  width: 90%;
  margin:  auto ;

>:nth-child(1){
  width: 90%;
}
  .parent {
    @include Display(column, space-between, flex-start);
    margin: auto;
    background-image: url("../../assets/Sprinkle.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    >*{
      margin: 20px auto;
      //width: 90%;

      >*{
        border-radius: $BorderRadius;
        box-shadow: $BoxShadow;
        margin: 15px auto;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 30px;
      }
    }

}

@media only screen and (max-width: 600px) {
  .parent {
    Display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;

    > * {
      width: 100% !important;


      > * {
        border-bottom: $Border;
        margin:auto;
        padding: 30px;

      }
    }
  }

}}
