@import "../../constants/Mixin";
@import "../../constants/Variables";


.ButtonContactMe {
  position: relative;
  margin: 20px auto;
  background: #75C0BB;
  color: $FontColor;
  max-width: 900px;
  width: 60%;
  height: 70px;
  border: 0;
  font-size: 22px;
  border-radius: 4px;
  transition: .5s;
  overflow: hidden;

  font-weight: bolder;
  cursor: pointer;


  &:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  &:hover {
    background: #2B6766;
    cursor: pointer;
    color: #FFFFFF;

    &:before {
      transform: translateX(1000px) skewX(-15deg);
      opacity: 0.6;
      transition: 1.2s;
    }

    &:after {
      transform: translateX(1000px) skewX(-15deg);
      opacity: 1;
      transition: 1.2s;
    }
  }

  a {
    text-decoration: none;
    white-space: nowrap;
    color: inherit;
    width: 100%;
    height: 100%;
    @include Display(row, center, center);

  }
}

@media only screen and (max-width: 600px) {
  .ButtonContactMe {
    width: 70%;
    font-size: 18px;
    height: 50px;
  }
}
