
$BackgroundNav: rgba(42, 122, 128, 0.9);
$TitleColor: #FFFFFF;
$NavFontSize: 20px;
$LightFontColor: #f1f1f1;
$FontColor: #3e4f50;
$PlaceholderColor: #0e0e0e;
$Background-color: #FFFFFF;
$Background-color-dark: #000000;
$Border: .5px solid #dadada;
$BorderColor: #068488;
$BorderRadius: 20px;
$BoxShadow: 0px 0px 15px -9px #414344;
